.fundo {
    background-image: linear-gradient(90deg, black, rgb(42, 95, 42));
    height: 100%;
    color: rgb(122, 109, 109);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.bem {
    background: transparent;
    text-align: center;
    color: rgb(122, 109, 109);
}